{{! ---
component: Slider
============================================

Requirements:
- cta (only hbs)

Options:
- contextClass {String} [default] - Just pass a string
- classes {String} - Modifier classes
- jsOptions {Array} - Array with keys and values
- jsOptions.jsKey {String} - Define a key (i.e. unresolvedClass)
- jsOptions.jsValue {String} - Define a value (i.e. is-unresolved)

Important Notes:
This component is written as wrapWith template, so you have the possibility to place your custom content.

--- }}

<div class="c-slider{{#if options.data.contextClass}}--{{options.data.contextClass}}{{else}}--default{{/if}}{{#if options.data.classes}} {{options.data.classes}}{{/if}}" data-css="c-slider" data-js-module="slider"{{#if options.data.jsOptions}} data-js-options='{ {{#each options.data.jsOptions}}"{{jsKey}}": {{#unless jsObject}}"{{/unless}}{{{jsValue}}}{{#unless jsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}} }'{{/if}}>

	<div class="slider__actions" data-js-atom="slider-actions">
		{{#each sliderCta}}
			{{> c-cta }}
		{{/each}}
	</div>

	<div class="slider__list-wrapper" data-js-atom="slider-wrapper">
		<div class="slider__list" data-js-atom="slider-ribbon">
			{{{yield}}}
		</div>
	</div>

	<div class="slider__pagination" data-js-atom="slider-pagination">
		<ol class="slider__pagination-list" data-js-atom="slider-pagination-list">
		</ol>
	</div>

</div>